@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*************************************************************************************/

body {
  background-color: #313335;
  color: #dddddd;
  font-family: "Droid Sans", sans-serif;
  border-top: 6px solid #458e97;
}

pre {
  white-space: pre-wrap;
}

a {
  color: #A5C25C;
}

#home {
  margin: 0 10px 0 10px;
}

#header {
  max-width: 75%;
  min-width: 640px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#header .title {
  font-size: 300%;
  font-family: "Share Tech Mono";
  font-weight: bold;
}

#header .title a,
#header .title a:hover,
#header .title a:visited {
  color: #458e97;
  text-decoration: none;
}

#header .navigation {
  font-size: 175%;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

#header .navigation a,
#header .navigation a:visited {
  color: #629755;
  text-decoration: none;
}

#header .navigation a:hover {
  color: #a5c25c;
}

.spacer {
  height: 60px;
    margin: 0 0 -60px 0;
    background: transparent;
}

#content-container {
  max-width: 60%;
  min-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  max-width: 60%;
  min-width: 640px;
  border-radius: 10px;
  background-color: #3d4042;
  position: absolute;
  padding: 20px 15px;
}

#content.ng-enter,
#content.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

#content.ng-enter {
    opacity: 0;
    margin-top: 40px;
}

#content.ng-leave.ng-leave-active {
  opacity: 0;
}

#content.ng-leave,
#content.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 0;
}

#content h1 {
  font-size: 230%;
  font-weight: bold;
  color: #458e97;
  margin-bottom: 20px;
}

#content h2 {
  font-size: 200%;
  font-weight: bold;
  color: #458e97;
}

#content .meta {
  color: #ffc66d;
}

#content p {
  font-size: 100%;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#footer_container {
  background-color: #2b2b2b;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 22px;
  font-size: 90%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#footer_container .contact {
  float: right;
  margin-right: 20px;
}

#footer_container a {
  text-decoration: none;
  color: #458e97;
}

.posts li {
  margin-top: 15px;
}

.post_link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffc66d;
}

.post_excerpt p {
  margin-left: 105px;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ddd;
  text-align: justify;
}